*.mo
*.pyc
/.DS_Store
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/.settings/
/src/bda.plone.productshop.egg-info/
/src/bda/plone/productshop/profiles/.DS_Store
/bin/
/develop-eggs/
/devsrc/
/parts/
/vpython/
/env/
/var/
/dist/
/coverage/
/report/
.idea/
include/
lib/
local/
buildout-cache/
htmlcov/


