
*.pyc

bda/plone/productshop/profiles/.DS_Store

.DS_Store

bda.plone.productshop.egg-info/
bda.plone.productshop.egg-info/PKG-INFO

bda.plone.productshop.egg-info/PKG-INFO

bda.plone.productshop.egg-info/SOURCES.txt

bda.plone.productshop.egg-info/dependency_links.txt

bda.plone.productshop.egg-info/dependency_links.txt

bda.plone.productshop.egg-info/
bda.plone.productshop.egg-info/top_level.txt

bda.plone.productshop.egg-info/not-zip-safe

bda.plone.productshop.egg-info/entry_points.txt

bda.plone.productshop.egg-info/requires.txt

bda.plone.productshop.egg-info/requires.txt
