

.bda_products {
	width: 200px;
	border:  1px solid silver;
	background-color: #ececec;
	float: left;
	margin: 0 10px 10px 0;
}

.bda_productlisting {
	background: #f6f6f6;
	border: 1px solid #949494;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	-webkit-box-shadow: 2px 2px 7px rgba(152, 154, 152, 0.65);
	-moz-box-shadow:    2px 2px 7px rgba(152, 154, 152, 0.65);
	box-shadow:         2px 2px 7px rgba(152, 154, 152, 0.65);
}

h4.ProductHeadline {
	font-size: 15px;
	text-align: left;
	padding-left: 15px;
	color: black;
}

.bda_products p{
	text-align: left;
	padding-left: 15px;
}

.bda_productlist.buyable {
	padding-top: 10px;
	padding-bottom: 3px;
}

#content .bda_products a  {
	font-size: 12px;
	color: black;
	text-decoration: none;
}

.imagebox {
	background: white;
	/* min-height: 160px; */
}

.bda_productlisting .imagebox {
	margin-right: 15px;
}

.bda_productlisting .imagebox,
.bda_productlist .imagebox {
	float: left;
	width: 220px;
}
.bda_productlist .imagebox img{
	float: left;
}


img.ProductImage {
	margin: 0 auto;
	display: block;
}

.ProductBody {
	text-align: left;	
}

.bda_productlist div.productfooter {
	border-top: 1px solid silver;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid silver;
}


p.itemprice {
	float: left;
	font-size: 16px;
}

.bda_productlisting .itemprice {
	font-size: 24px;
	font-weight: bold;
	padding-top: 6px;
}

.bda_productlist p.itemprice {
	font-weight: bold;
	font-size: 14px;
}


p.itemprice.span {
	float: left;
}

.add_cart_item {
	float: right;
	margin: 0 12px;
	font-weight: bold;
}
 
 #portlet-cart {
	border:  1px solid silver;
	padding-bottom: 10px;
}

#portlet-cart dt.portletHeader a.tile {
	background-color: #ececec;
	padding: 7px 15px;
	color:  #777;
}

ul#cart_items {
	list-style-image: none;
	list-style-type: none;
	background: white;
	padding: 0
}

li.cart_item {
	padding-left: 15px;
	padding-right: 15px;
	list-style-image: none;
	list-style-type: none;
}

#cart_summary table.cart_sum_content  {
	padding-left: 10px;
	padding-right: 10px;
}


.bda_productlisting .cart_item_count, 
.bda_products .cart_item_count {
	display: none !important;
}



/* @group Quicksand */


.image-grid {
	margin: 0;
}

.image-grid:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}

/* this is important, prevents the items from "jumping" */
.template-quicksand_view #content-core {
	position: relative;
}

.image-grid ul {
	margin: 0;
	padding: 0;	
	position: relative;
	list-style-image: none;
	list-style-type: none;
}


/* this is important, one can not set the the same on the divs (a bug in quicksand) */
.image-grid li {
	margin: 0px 10px 10px 0 !important;
	padding: 10px;
	display: block;
	border: 1px solid #AAA;
	float: left;
	overflow: hidden;
}

/* @end */


