.bda_products {
	width: 200px;
	border:  1px solid silver;
	background-color: #ececec;
	float: left;
	margin: 0 10px 10px 0;
}



h4.ProductHeadline {
	font-size: 15px;
	text-align: left;
	padding-left: 15px;
	color: black;

}

.bda_products p{
	text-align: left;
	padding-left: 15px;
}

.bda_productlist.buyable {
	padding-top: 10px;
	padding-bottom: 3px;
}

#content .bda_products a  {
	font-size: 12px;
	color: black;
	text-decoration: none;
}

.imagebox {
	background: white;
	/* min-height: 160px; */
}

.bda_productlist div.imagebox {
	float: left;
	width: 220px;
}
.bda_productlist div.imagebox img{
	float: left;
}


img.ProductImage {
	margin: 0 auto;
	display: block;
}

.ProductBody {
text-align: left;	
}

.bda_productlist div.productfooter {
	border-top: 1px solid silver;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid silver;
}



p.itemprice {
	float: left;
	font-size: 16px;
}

.bda_productlist p.itemprice {
	font-weight: bold;
	font-size: 14px;
}


p.itemprice.span {
	float: left;
}

.add_cart_item {
	float: right;
	margin: 0 12px;
	font-weight: bold;
}
 
 #portlet-cart {
	border:  1px solid silver;
	padding-bottom: 10px;
}

#portlet-cart dt.portletHeader a.tile {
	background-color: #ececec;
	padding: 7px 15px;
	color:  #777;
}

ul#cart_items {
	list-style-image: none;
	list-style-type: none;
	background: white;
	padding: 0
}

li.cart_item {
	padding-left: 15px;
	padding-right: 15px;
	list-style-image: none;
	list-style-type: none;
}

#cart_summary table.cart_sum_content  {
	padding-left: 10px;
	padding-right: 10px;
}

.bda_products.buyable .cart_item_count {
	display: none !important;
}


