/* listing */
div.product {
    margin-top:1em;
    padding-top:1em;
    border-top:#cccccc 1px solid;
}
img.product_listing_image {
    margin:0 auto;
    float:left;
    margin-bottom:1em;
}
div.product_info {
    margin-left:128px;
    padding:0 0 0 20px;
}

/* product */
img.product_image {
    margin:0 auto;
    float:left;
    margin-bottom:1em;
}
#portal-columns div.shopview_panes {
    padding:20px;
    border-top:1px solid #cccccc;
    margin-left:200px;
}
#portal-columns ul.shopview_tabs {
    margin-bottom:0;
}
#portal-columns ul.shopview_tabs li {
    list-style-image:none;
    list-style-type:none;
    display:inline-block;
    margin:0 0 0 3px;
}
#portal-columns ul.shopview_tabs li.first {
    margin:0 0 0 20px;
}
#portal-columns ul.shopview_tabs li a {
    padding:6px 15px;
    display:block;
    color:#333;
    background:#EEE;
    border:1px solid #cccccc;
    margin:5px 0 -1px 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
#portal-columns ul.shopview_tabs li a:hover {
    background:#DDD;
}
#portal-columns ul.shopview_tabs li a.current {
    font-weight:bold;
    background:#FFF;
    border-bottom:1px solid #ffffff;
    margin-top:0;
    padding-top:12px;
}
